.main {
    background-color: honeydew;
    display: flex;
    justify-content: space-between;
}
.mindset{
    display: flex;
    justify-content: center;
}
footer{
    background-color: blanchedalmond;
}

*{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 50;
}
.saying{
    color: black;
    font-weight: 900;
}
h1{
    color: cyan;
}
.hobbies {
  border-left:4px solid red;
  border-right: 4px solid red;
  border-top: 4px solid red;
  border-bottom: 4px solid red;
}

strong {
    color: #33F3FF;
}

.hobbies{
    font-size: small;
    font-family: fantasy;
    font-style: italic;
}